@using RecordRoster.Models 
@model List<Album>

@{
    ViewBag.Title = "Album Library";
}

<h2>Album Library</h2>

<p>
    <a class="btn btn-outline-primary" href="@Url.Action("Add", "Album")">Add New Album</a>
</p>

@if (Model.Count == 0)
{
    <p>No albums were found in the database. Consider <a href="@Url.Action("Add", "Album")">adding one</a>!</p>
}
else
{
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var album in Model)
        {
            <div class="col mb-4">
                <div class="card h-100">
                    <a href="@Url.Action($"Details/{album.Id}", "Album")">
                        <img src="@album.Cover" class="card-img-top album-cover" alt="@album.Title cover">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@album.Title</h5>
                        <p class="card-text">@album.Artist (@album.ReleaseYear)</p>
                        <div class="d-flex justify-content-between mt-3">
                            @* TODO: Update form page *@
                            <a href="@Url.Action($"Update/{album.Id}", "Album")" class="btn btn-primary btn-sm">Edit</a>
                            <button class="btn btn-danger btn-sm deleteBtn" data-id="@album.Id">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">&lt;- Back to Random Album</a>